<% @ride_requests.each do |ride_request| %>
<div class="container">
  <div class="card mb-4">
    <div class="card-content">
      <div class="content">
        <div class="columns is-mobile">
          <div class="column">
            <strong>Passenger:</strong> <%= ride_request.passenger.name.titleize %>
          </div>
          <div class="column">
            <strong>Seats:</strong>  <%= ride_request.seats %>
          </div>
        </div>
        <div class="columns is-mobile">
          <div class="column">
            <strong>Origin:</strong> Vanc<%= ride_request.origin %>ouver
          </div>
          <div class="column">
            <strong>Destination:</strong> <%= ride_request.destination %>
          </div>
        </div>
        <div class="columns is-mobile">
          <div class="column">
            <strong>Pickup Time:</strong> <%= ride_request.pickup_time %>
          </div>
        </div>
        <div class="columns is-mobile">
          <div class="column">
            <% if current_user.passenger? && ride_request.passenger_id == passenger.id %>
              <%= link_to 'Cancel', ride_request_path(ride_request), data: { "turbo-method": "delete", "turbo-confirm": "Are you sure you wan to cancel your ride?" } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% if current_user.passenger? && passenger.ride_request.nil? %>
  <%= link_to "Request a new ride", new_ride_request_path %>
<% end %>

<div>
<h4>Drivers on duty</h4>
<ul>
  <% @drivers_on_duty.each do |dod| %>
  <li><%= dod.driver.name.titleize %> - <%= dod.occupied? ? 'occupied' : 'available' %></li>
  <% end %>
</ul>
</div>
