<!DOCTYPE html>
<html>
  <head>
    <title>TranspoMcgiServices</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= tag.meta name: "service-worker-url", content: asset_path("service_worker.js") %>
    <%= tag.meta name: "service-worker-icon", content: asset_path("service_worker.js") %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body data-controller="webpush"
        data-webpush-public-key="<%= ENV['VAPID_PUB_KEY'] %>"
        data-webpush-user-id='<%= current_user ? "#{current_user.name}#{current_user.id}".parameterize : nil %>'
        data-webpush-server-url="<%= ENV['WEBPUSH_URL'] %>">
    <% if current_user %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      <% if driver && driver.drivers_on_duty.present? %>
        <%= link_to 'End duty', drivers_on_duty_path(driver.drivers_on_duty), data: { "turbo-method": "delete" } %>
      <% end %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
